{% if words_dict is not none %}
<html>

<head>
  <title>Wikipedia top n version {{ version }}</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='status_style.css') }}">
</head>

<body>
  <center>Results for </br>
    <div id="display-success">https://{{ lang }}.wikipedia.org/w/api.php?action=query&prop=extracts&pageids={{ pid }}&explaintext&format=json</div>
  </br>
  <table class="TFtable">
    <thead>
      <tr>
        <th>Number of occurences</th>
        <th>Word(s) </th>
      </tr>
      {% for key in words_dict.keys() %}
      <tr>
        <td>{{ key }} </td>
        <td>{{ words_dict[key]}} </td>
      </tr>
      {% endfor %}
    </thead>
  </table>
  </center>
</body>

</html>

{% else %}

<html>

<head>
  <title>Wikipedia top n version {{ version }}</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='status_style.css') }}">
</head>

<body>
  <center>
    <div id="display-error">
      ID <strong>{{ pid }}</strong> is an invalid!</div>
  </center>
</body>

</html>

{% endif %}
